{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% translate "Astronauts" %}
{% endblock %}

{% block header %}
    {% translate "Astronauts" %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Py Library</h1>
    <h2>{% translate "Astronauts" %}</h2>
    <p>
        {% blocktranslate %}Currently there are
            {{ number_of_people }}
            people in space.{% endblocktranslate %}
            {% if people %}
                <ul>
                    {% for person in people %}
                        <li>
                            {% blocktranslate with name=person.name craft=person.craft %}{{ name }} is on the {{ craft }}{% endblocktranslate%}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
    </p>
</div>
{% endblock %}